@import "src/assets/styles/variables";
@import "src/assets/styles/mixin";


.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  .mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .textContent {
      margin-top: 10px;
      font-family: 'El Messiri',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.1em;

      .textParagraph {
        margin-top: 10px;
        color: $footerMainColor;
      }
    }

    .footer_logo {
      margin-top: 20px;
    }

    .socialIcons {
      margin-top: 20px;

      & > a {
        margin: 0 20px;
      }

    }
  }
}