.header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  background-size: cover;
  position: relative;
  &:before {
    content: "";
    background-color: rgba(92, 90, 23, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
  }


  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    color: rgba(138, 98, 87, 1.00);
    background-color: rgba(35, 29, 29, 0.65);;
  }


  .mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1540px;
    padding: 0 10px;
  }
}